#dark-light-toggle{
    margin-right: 1rem;
    padding: 2px;
    border-radius: 50%;
    max-width: 35px;
    max-height: 35px;
    border: 1px solid black;
}

#dark-light-toggle:hover{
    cursor: pointer;
    max-width: 36px;
    max-height: 36px;
}
