
html {
    
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    overflow: scroll;
    padding-top: 56px;
    padding-bottom: 80px;
}

.Home {
    padding-top: 10px;
    overflow-x: hidden;
    
    height: 100%;
    padding-bottom: 100px;
    
    background-color: #fff;
    color: black;
}
