
html {
    
    overflow: auto;
    height: 100%;
    padding-top: 56px;
    padding-bottom: 80px;
}

.Home {
    padding-top: 10px;
    overflow: auto;
    padding-left: 25px;
    height: 100%;
    padding-bottom: 10px;
    overflow-x: hidden;
    font-family: sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);

}

