:root {
    --bg-color: #fff;
    --text-color: #000;
    --event-text-color: #000;
  }
  
  [data-theme="dark"] {
    --bg-color: #3F3F3F;
    --text-color: #fff;
    --calendar-header-bg: #2F2F2F; /* Background color of the calendar header */
    --event-bg: #454545; /* Background color of events */
    --event-text-color: #fff;
  }
  
  .Home {
    overflow-x: hidden;
    font-family: sans-serif;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color);
  }


  .MyCalendar {
    .rbc-event{
      background-color: var(--event-bg);
      color: var(--event-text-color);
    }
  }
  