:root {
    --bg-color: #fff;
    --text-color: #000;
    --event-text-color: #000;
    --main-theme-color: #db1d3d;
  }

  html[data-theme='light'] {
    --bg-color: #fff;
    --text-color: #000;
    --calendar-header-bg: #fff; /* Background color of the calendar header */
    --event-bg: #fff; /* Background color of events */
    --event-text-color: #000;
    --event-border-color: black;
    --day-outside-month-range-color: #ebebeb;
    --day-today-color: #eef8ff;
    --toolbar-selected-color: #dee8ef;
  }
  
  html[data-theme='dark'] {
    --bg-color: #3F3F3F;
    --text-color: #fff;
    --calendar-header-bg: #2F2F2F; /* Background color of the calendar header */
    --event-bg: #4d4d4d; /* Background color of events */
    --event-text-color: #fff;
    --event-border-color: #4d4d4d;
    --day-outside-month-range-color: #5f5f5f;
    --day-today-color: #2f2f2f;
    --toolbar-selected-color: #0f0f0f;
  }

  body {
    background-color: var(--bg-color) !important;
  }


  .MyCalendar {
    margin-left: 10px;
  }
  